<div>
    <h1>
        {{title}}
    </h1>
    <div>
    <h4>{{$auction.title}}</h4>
        <p>{{auction}}</p>
        <p>
		    Description: {{getAuction().description}}</br>
		    Starting Amount: {{getAuction().startingAmount}}</br>
		    Current Lowest Price: {{getAuction().currentLowestBid.price}}</br>
		    Client: {{getAuction().owner.username}}</br>
        </p>

        <h2>Bid History</h2>
        <div ng-repeat="bid in getAuction().bidHistory">

            <a ui-sref="User({ userID: bid.userID })">
                {{bid.user.username}}
            </a>
            {{bid.amount}}
            isWinningBid:{{bid.isWinningBid}}
        </div>

    <div class="mdl-textfield mdl-js-textfield">
        <input ng-model="bidAmount" class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Make a Bid...</label>
    </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="createBid(bidAmount, getAuction()._id)"><label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
      <i class="material-icons">done</i></button>
	</div>
</div>