<div>


    <h1>
        {{title}}
        {{me.getUId()}}
        {{me.getUsername()}}

    </h1>


    <div class="col-lg-6">
        <div class="input-group">
            <input ng-model="formInput.searchText" type="text" class="form-control" placeholder="Search for Auctions...">
      <span class="input-group-btn">
        <button ng-click="search()" class="btn btn-default" type="button">Go!</button>
      </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->

    <button type="button" class="btn btn-primary" ng-click="login('google')">Login</button>
    <button type="button" class="btn btn-danger" ng-click="logout()">Logout</button>
    <div ng-if="authData.google" class="list card">
      <div class="item item-avatar">
        <img ng-src="{{authData.google.cachedUserProfile.picture}}" alt="">
        <h2>{{authData.google.displayName}}</h2>
        <p>{{authData.google.username}}</p>

          <p>Google</p>
      </div>
    </div>

</div>