<div>
    <table class="mdl-data-table mdl-js-data-table" style="display:inline-block">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Auction</th>
            <th class="mdl-data-table__cell--non-numeric">Auction Status</th>
            <th>Bid Price</th>
            <th>Bid Time</th>
            <th>Bid Date</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="bid in bidHistory()[0].history">
                <td class="mdl-data-table__cell--non-numeric">
                    <a ui-sref="AuctionDetails({ auctionID: bid.auction._id })">{{bid.auction.title}}</a>
                </td>

                <td ng-show="bid.auction.isOpen" class="mdl-data-table__cell--non-numeric">Open</td>
                <td ng-show="!bid.auction.isOpen" class="mdl-data-table__cell--non-numeric">Closed</td>

                <td>${{bid.bid.amount}}</td>
                <td>{{time(bid.bid._id)}}</td>
                <td>{{date(bid.bid._id)}}</td>
            </tr>
        </tbody>
    </table>

</div>