<header class="demo-drawer-header">
	<img ui-sref="User({ userID: uid()})" src="user.webp" class="demo-avatar">
	<a ui-sref="User({ userID: uid()})">{{username()}}</a>
</header>

<nav class="mdl-navigation">
	<a class="mdl-navigation__link" ui-sref="Home">Home</a>
	<a class="mdl-navigation__link" ui-sref="MyOpenAuctions">Pending Auctions</a>
	<a class="mdl-navigation__link" ui-sref="ActiveBids">Watch List</a>
	<a class="mdl-navigation__link" ui-sref="MyAuctionHistory">Auction History</a>
	<a class="mdl-navigation__link" ui-sref="BidHistory">Previous Offers</a>
</nav>