<header class="demo-drawer-header">
	<img ui-sref="User({ userID: uid()})" src="{{profileImageURL()}}" class="demo-avatar">
	<a ui-sref="User({ userID: uid()})">{{username()}}</a>
</header>

<nav class="mdl-navigation">
	<a class="mdl-navigation__link drawer-button" ui-sref="Home" style="">
		<i class="material-icons drawer-icon" role="presentation">search</i>Search
	</a>
    <a class="mdl-navigation__link drawer-button" ui-sref="CreateAuction">
		<i class="material-icons drawer-icon" role="presentation">create</i>Create Auction
	</a>
    <a class="mdl-navigation__link drawer-button" ui-sref="MyOpenAuctions">
		<i class="material-icons drawer-icon" role="presentation">lock_open</i>My Open Auctions
	</a>
	<a class="mdl-navigation__link drawer-button" ui-sref="MyAuctionHistory">
		<i class="material-icons drawer-icon" role="presentation">lock</i>My Closed Auctions
	</a>
	<a class="mdl-navigation__link drawer-button" ui-sref="ActiveBids">
		<i class="material-icons drawer-icon" role="presentation">attach_money</i>Active Bids
	</a>
	<a class="mdl-navigation__link drawer-button" ui-sref="AuctionsWon">
		<i class="material-icons drawer-icon" role="presentation">check_circle</i>Auctions Won
	</a>
	<a class="mdl-navigation__link drawer-button" ui-sref="BidHistory">
		<i class="material-icons drawer-icon" role="presentation">assignment</i>Bid History
	</a>
</nav>