<html>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">ITC</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" ui-sref="Home">Home</a>
      <a class="mdl-navigation__link" ui-sref="AuctionDetails">Auction Details</a>
      <a class="mdl-navigation__link" ui-sref="BidHistory">Bid History</a>
      <a class="mdl-navigation__link" ui-sref="MyAuctionHistory">My Auction History</a>
      <a class="mdl-navigation__link" ui-sref="MyOpenAuctions">My Open Auctions</a>
      <a class="mdl-navigation__link" ui-sref="CreateAuction">Create Auction</a>
          <button ng-click="login('google')">Login</button>
       <button ng-click="logout()">Logout</button>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">ITC</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" ui-sref="Home">Home</a>
      <a class="mdl-navigation__link" ui-sref="AuctionDetails">Auction Details</a>
      <a class="mdl-navigation__link" ui-sref="BidHistory">Bid History</a>
      <a class="mdl-navigation__link" ui-sref="MyAuctionHistory">My Auction History</a>
      <a class="mdl-navigation__link" ui-sref="MyOpenAuctions">My Open Auctions</a>
      <a class="mdl-navigation__link" ui-sref="CreateAuction">Create Auction</a>
       <button ng-click="login('google')">Login</button>
       <button ng-click="logout()">Logout</button>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
  </main>
</div>
    </html>