<div class="top">
    <img>
    <div class="info">
    <h3>
        Name: {{user}}
    </h3>
    <h4>Rating</h4>
    <p>
    	Description:
    </p>
    </div>
    <hr>
    <div class="dem-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Buyer</h2>
  </div>
        <div class="mdl-card__actions mdl-card--border"></div>
        <h6 align="left">Comments:</h6>
  <div class="mdl-card__supporting-text">
    
  </div>
</div>
<div class="dem-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Seller</h2>
  </div>
    <div class="mdl-card__actions mdl-card--border"></div>
    <h6 align="left">Comments:</h6>
  <div class="mdl-card__supporting-text">
    
  </div>
</div>
</div>