<div class="top">
    <img>
    <div class="info">
        <span>
           <img  src="{{user().profileImageURL}}" class="demo-avatar">

        </span>

        <h3>
            {{user().username}}
        </h3>
        <input-stars max="5" ng-model="user().ratings.overallRating" readonly></input-stars>


    </div>
    <hr>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <div class=" mdl-card mdl-shadow--2dp" style="width:100%; ">
                <div class="mdl-card__title"  >
                    <h2 class="mdl-card__title-text" style=" margin:auto">Client Feedback</h2>

                </div>
                <input-stars max="5" ng-model="user().ratings.clientRating" readonly></input-stars>
                <div class="mdl-card__actions mdl-card--border"></div>
                <div class="mdl-card__supporting-text">
                    <h6 ng-repeat="(key, value) in user().feedbackForClient">
                        <input-stars max="5" ng-model="value.rating" readonly></input-stars>
                        <p> {{ value.comment }} </p>
                    </h6>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
            <div class=" mdl-card mdl-shadow--2dp" style="width:100%; ">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text" style=" margin:auto">Provider Feedback</h2>
                </div>
                <input-stars max="5" ng-model="user().ratings.providerRating" readonly></input-stars>

                <div class="mdl-card__actions mdl-card--border"></div>

                <div class="mdl-card__supporting-text">
                    <div ng-repeat="(key, value) in user().feedbackForProvider">
                        <input-stars max="5" ng-model="value.rating" readonly ></input-stars>
                        <p> {{ value.comment }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>