body {
  align: center;
  font: 100% Helvetica, sans-serif;
  color: #FFF;
  background-color: #FFF; }
.bg{
    background: url("../img/city.jpg")no-repeat center center fixed;
    background-size: 2048px 860px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -5000;
    padding: 80px;
    color: white;
}